:root {
  --primary-color: #b02e0c;
  --secondary-color: #456990;
  --success-color: #00b49f;
  --wrong-color: #b70a0a;
  --text-light-grey: #a7a3a3;
  --text-medium-grey: #615f5f;
  --text-dark-grey: #434343;
}