@import url("https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap");
:root {
  --primary-color: #b8a064;
  --primary-color-hover: #c69927;
  --secondary-color: #5e6572;
  --success-color: #00916e;
  --wrong-color: #972d07;
  --text-light-grey: #a7a3a3;
  --text-medium-grey: #615f5f;
  --text-dark-grey: #434343;
  --dark-theme-text-color: rgb(220, 220, 220);
  --dark-theme-success-color: #05cc9d;
  --dark-theme-wrong-color: #fa3218;
  --bkg-gold: #c69927;
  --bkg-light: #e7e7e7;
  --bkg-medium: #b8b7b7;
}

html,
body {
  height: 100%;
  margin: 0 0 20px 0;
  padding: 0;
}

#root {
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
:root {
  --primary-color: #b8a064;
  --primary-color-hover: #c69927;
  --secondary-color: #5e6572;
  --success-color: #00916e;
  --wrong-color: #972d07;
  --text-light-grey: #a7a3a3;
  --text-medium-grey: #615f5f;
  --text-dark-grey: #434343;
  --dark-theme-text-color: rgb(220, 220, 220);
  --dark-theme-success-color: #05cc9d;
  --dark-theme-wrong-color: #fa3218;
  --bkg-gold: #c69927;
  --bkg-light: #e7e7e7;
  --bkg-medium: #b8b7b7;
}

:root {
  --font-decoration: "Zen Antique Soft", serif;
  --font-primary: "Arial", sans-serif;
  --piano-key-width: 44px;
}