:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--dark-theme-text-color);
    background-color: var(--bkg-dark);
  }
  
  h2 {
    color: var(--primary-color);
  }
  
  h3 {
    color: var(--dark-theme-text-color);
  }
}
